body{
  background-color:maroon;
    
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1{
  color:white;
}
h3{
  color:white;
}
.row{
  display:flex;
  justify-content: space-between;
}
.box{
  height: 150px;
  width: 45%;
 background-color: red;
  margin:5px;
  display:flex;
  
}
footer{
  height: 400px;
  width: 100%;
  background-color: grey;
  padding-top: 25px;
}
img{
  max-width: 50%;
  max-height: 700%;
  margin: 9px;
}

.nav{
  background-color: grey;
  width: 100%;
  display: block;
  padding: 2px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:white;
}
li{
  display: inline;
  padding: 25px;
  margin:30px;
}
.bozo{
  width:100%;
  
}